# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Mac system files
*.DS_Store

# Optional: npm / yarn / pnpm lock files if you want to ignore (usually keep them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Local Netlify folder
.netlify
